@import "tailwindcss";

body {
  font-family: 'Inter', 'SF Pro', 'Roboto', sans-serif;
  width: 400px;
  height: 600px;
  margin: 0;
  padding: 0;
}

::selection {
  background: #f1f3f5;
}

textarea:focus,
input:focus {
  outline: none;
}

.transition {
  transition: background 0.15s;
} 